body {
  background-color: black;
  color: white;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}

svg {
  color: white;
}
#projectCards img {
  width: 350px;
  height: 200px;
  opacity: 0.5;
}
#projectCards p {
  padding: 2em;
}
#projectCards button {
  align-self: end;
}

/*** Toggle FORM  ***/
.hideForm {
  display: none;
}
.showForm {
  display: block;
}
#sortButton {
  padding: 0 0.5em;
}
/* Footer */
footer {
  color: white;
  width: 100%;
  height: 50px;
  padding: 0.8em;
}

footer li {
  list-style: none;
  font-size: 0.75em;
}

/* table th,
table tr {
  color: white;
} */
