#icon-div {
  display: flex;
  justify-content: flex-start;
}
#icon-div p {
  margin-right: 50px;
}
#mainCardBody {
  display: flex;
  justify-content: space-between; 
}
#cardBodyTop {
  display: flex;
  justify-content: space-between;
}
