body {background-color: black;
color:white
}

.card {
  background-color: black;
  color: aliceblue;
  border: solid 1px gray;
}

#package{
  display: flex;
  flex: wrap;
  flex-wrap: wrap;
}

.btn{
  background-color: rgb(61, 60, 60);
  color: white;
}
